Makefile
config.h
help/Makefile
help/doxygen/Makefile
help/doxygen/doxygen.dox
include/Makefile
include/eXosip2/Makefile
libtool
platform/Makefile
platform/vsnet/Makefile
platform/wince/Makefile
scripts/Makefile
src/.deps/
src/.libs/
src/Makefile
src/eXcall_api.lo
src/eXconf.lo
src/eXinsubscription_api.lo
src/eXmessage_api.lo
src/eXoptions_api.lo
src/eXosip.lo
src/eXpublish_api.lo
src/eXrefer_api.lo
src/eXregister_api.lo
src/eXsubscription_api.lo
src/eXtl.lo
src/eXtl_dtls.lo
src/eXtl_tcp.lo
src/eXtl_tls.lo
src/eXtl_udp.lo
src/eXtransport.lo
src/eXutils.lo
src/inet_ntop.lo
src/jauth.lo
src/jcall.lo
src/jcallback.lo
src/jdialog.lo
src/jevents.lo
src/jnotify.lo
src/jpipe.lo
src/jpublish.lo
src/jreg.lo
src/jrequest.lo
src/jresponse.lo
src/jsubscribe.lo
src/libeXosip2.la
src/milenage.lo
src/misc.lo
src/rijndael.lo
src/sdp_offans.lo
src/udp.lo
stamp-h1
tools/.deps/
autom4te.cache/
