Makefile
config.h
help/Makefile
help/doxygen/Makefile
help/man/Makefile
include/Makefile
include/osip2/Makefile
include/osip2/doxygen.dox
include/osipparser2/Makefile
include/osipparser2/headers/Makefile
libosip2.pc
libtool
platform/Makefile
platform/rpm/Makefile
platform/vsnet/Makefile
platform/wince/Makefile
scripts/Makefile
src/Makefile
src/osip2/.deps/
src/osip2/.libs/
src/osip2/Makefile
src/osip2/fsm_misc.lo
src/osip2/ict.lo
src/osip2/ict_fsm.lo
src/osip2/ist.lo
src/osip2/ist_fsm.lo
src/osip2/libosip2.la
src/osip2/nict.lo
src/osip2/nict_fsm.lo
src/osip2/nist.lo
src/osip2/nist_fsm.lo
src/osip2/osip.lo
src/osip2/osip_dialog.lo
src/osip2/osip_event.lo
src/osip2/osip_time.lo
src/osip2/osip_transaction.lo
src/osip2/port_fifo.lo
src/osipparser2/.deps/
src/osipparser2/.libs/
src/osipparser2/Makefile
src/osipparser2/libosipparser2.la
src/osipparser2/osip_authorization.lo
src/osipparser2/osip_body.lo
src/osipparser2/osip_call_id.lo
src/osipparser2/osip_contact.lo
src/osipparser2/osip_content_length.lo
src/osipparser2/osip_content_type.lo
src/osipparser2/osip_cseq.lo
src/osipparser2/osip_from.lo
src/osipparser2/osip_header.lo
src/osipparser2/osip_list.lo
src/osipparser2/osip_md5c.lo
src/osipparser2/osip_message.lo
src/osipparser2/osip_message_parse.lo
src/osipparser2/osip_message_to_str.lo
src/osipparser2/osip_mime_version.lo
src/osipparser2/osip_parser_cfg.lo
src/osipparser2/osip_port.lo
src/osipparser2/osip_proxy_authenticate.lo
src/osipparser2/osip_proxy_authorization.lo
src/osipparser2/osip_record_route.lo
src/osipparser2/osip_route.lo
src/osipparser2/osip_to.lo
src/osipparser2/osip_uri.lo
src/osipparser2/osip_via.lo
src/osipparser2/osip_www_authenticate.lo
src/test/.deps/
src/test/Makefile
src/test/res/Makefile
stamp-h1
