#*#
*.a
*.d
*.ko
*.la
*.lo
*.loT
*.mod.c
*.o
*.o
*.pyc
*.so
*~
.#*
.*.cmd
.deps
.libs
.tmp_versions
/Makefile
/build-arch-stamp
/build-indep-stamp
/compile
/config.guess
/config.h
/config.log
/config.status
/config.sub
/configure-stamp
/depcomp
/install-sh
/missing
/stamp-h1
Module.symvers
TAGS
cscope.*
ext.m4
ext.mk
tags
