build.mak
build/cc-auto.mak
build/os-auto.mak
pjlib-util/bin/pjlib-util-test-x86_64-unknown-linux-gnu
pjlib-util/build/.pjlib-util-test-x86_64-unknown-linux-gnu.depend
pjlib-util/build/.pjlib-util-x86_64-unknown-linux-gnu.depend
pjlib-util/build/os-auto.mak
pjlib/bin/pjlib-test-x86_64-unknown-linux-gnu
pjlib/build/.pjlib-test-x86_64-unknown-linux-gnu.depend
pjlib/build/.pjlib-x86_64-unknown-linux-gnu.depend
pjlib/build/os-auto.mak
pjlib/include/pj/compat/m_auto.h
pjlib/include/pj/compat/os_auto.h
#pjlib/include/pj/config_site.h
pjmedia/bin/pjmedia-test-x86_64-unknown-linux-gnu
pjmedia/build/.pjmedia-audiodev-x86_64-unknown-linux-gnu.depend
pjmedia/build/.pjmedia-codec-x86_64-unknown-linux-gnu.depend
pjmedia/build/.pjmedia-test-x86_64-unknown-linux-gnu.depend
pjmedia/build/.pjmedia-x86_64-unknown-linux-gnu.depend
pjmedia/build/.pjsdp-x86_64-unknown-linux-gnu.depend
pjmedia/build/os-auto.mak
pjmedia/include/pjmedia-codec/config_auto.h
pjmedia/include/pjmedia/config_auto.h
pjnath/bin/pjnath-test-x86_64-unknown-linux-gnu
pjnath/bin/pjturn-client-x86_64-unknown-linux-gnu
pjnath/bin/pjturn-srv-x86_64-unknown-linux-gnu
pjnath/build/.pjnath-test-x86_64-unknown-linux-gnu.depend
pjnath/build/.pjnath-x86_64-unknown-linux-gnu.depend
pjnath/build/.pjturn-client-x86_64-unknown-linux-gnu.depend
pjnath/build/.pjturn-srv-x86_64-unknown-linux-gnu.depend
pjsip-apps/bin/pjsua-x86_64-unknown-linux-gnu
pjsip-apps/bin/pjsystest-x86_64-unknown-linux-gnu
pjsip-apps/bin/samples/x86_64-unknown-linux-gnu/
pjsip-apps/build/.pjsua-x86_64-unknown-linux-gnu.depend
pjsip-apps/build/.pjsystest-x86_64-unknown-linux-gnu.depend
pjsip/bin/pjsip-test-x86_64-unknown-linux-gnu
pjsip/build/.pjsip-simple-x86_64-unknown-linux-gnu.depend
pjsip/build/.pjsip-test-x86_64-unknown-linux-gnu.depend
pjsip/build/.pjsip-ua-x86_64-unknown-linux-gnu.depend
pjsip/build/.pjsip-x86_64-unknown-linux-gnu.depend
pjsip/build/.pjsua-lib-x86_64-unknown-linux-gnu.depend
pjsip/build/os-auto.mak
pjsip/include/pjsip/sip_autoconf.h
third_party/build/g7221/.libg7221codec-x86_64-unknown-linux-gnu.depend
third_party/build/gsm/.libgsmcodec-x86_64-unknown-linux-gnu.depend
third_party/build/ilbc/.libilbccodec-x86_64-unknown-linux-gnu.depend
third_party/build/milenage/.libmilenage-x86_64-unknown-linux-gnu.depend
third_party/build/os-auto.mak
third_party/build/portaudio/os-auto.mak
third_party/build/resample/.libresample-x86_64-unknown-linux-gnu.depend
third_party/build/speex/.libspeex-x86_64-unknown-linux-gnu.depend
third_party/build/srtp/.libsrtp-x86_64-unknown-linux-gnu.depend
third_party/build/portaudio/.libportaudio-x86_64-unknown-linux-gnu.depend
client.log
pjsip-apps/bin/pjsua-x86_64-unknown-linux-gnu.bc.client.paths
pjsip.paths
pjsip.paths.log
pjsua.dbg.exe
pjsua.test.exe
